
.form-control{
    margin-left: 70px ;
    width: 600px;
    height: 40px;

}
@media screen and (max-height: 450px) and(min-width:1199px){
body{
    background-color:white;

}
}
.navbar{
    background-color: rgb(218, 2, 2);
    margin-bottom: 0px;

}
.nav-link{
    color: white;
}
.nav{
    background-color: rgb(8, 3, 3);
    margin: 0px;
  
   
   
}
.card22{
    margin:17px;
    margin-left: 1200px ;
    width: 200px;
    height: 40px;
    padding: 18px;
    
}
.card-footer{
  text-align: center;

}
.card-header{
  text-align: center;
}
.card-body{
  text-align: center;
}
.btn1{
    margin: 10px;
    margin-left: 217px ;
    width: 150px;
    height: 60px;
    color: azure;
    background-color: rgb(14, 13, 13);
    
    
}
.btn3{
    margin-top: 220px;
    margin-bottom: 120px;
    margin-right: 590px;
    width: 187px;
    height: 70px;
    color: #f5f2f2;
    background-color: rgb(5, 5, 5);
}

.carousel-inner{
    margin-left: 50px;
    margin-right: 50px;
    width: 1100px;
    height: 300px;
}
.py-5{
    background-color: rgb(233, 26, 26);
    width: 2100px;
    height: 540px;
    color: azure;
    text-align: left;
    margin-top: 500px;
  
}
#nt{
  background-color: rgb(218, 2, 2);
}


.card1{
    text-align: center;
    margin: Auto;
    background-color: rgb(218, 2, 2);
    
    
    
    }
    
    .col{
        height: 50px;
        width: 300px;
        display: block;
        
    
    }
    
    
    
    .main{
        background-color:white;
        width:88%;
        min-height:50vh;
       margin: 55px;
        margin-left: 6px;
        
    }
    .mainee{
        background-color: white;
        width:88%;
        min-height:50vh;
       margin: 53px;
        margin-left: 6px;
    }
    h6{
        height:50px;
        
        width: 190px;
        margin-top:5px;
        text-align: center;
        color: aliceblue;
        background-color: rgb(218, 2, 2);
    }
    .maina{
        background-color: white;
        width:88%;
        min-height:50vh;
       margin: 56px;
        margin-left: 6px;
    }
    .card8{
        background:url(imge/wu.jpg) no-repeat; 
        width: 1100px;
        height: 500px;
        margin:6px;
        padding: 23px;
        margin-bottom: 9px;
        margin-top: 26px;
     
      
    }
    .card7{
        background:url(imge/ge.jpg) no-repeat;
        width:1100px;
        height: 400px;
        margin: 30px;
        margin-bottom: 110px;
    }
    .maini{
        min-height:60vh;
        width:88%;
        margin: 56px;
         margin-left: 77px;
         margin-right: 77px;
    }
    .sidebar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 2; /* Stay on top */
        top: 66px;
        right:  0;
        background-color: #080808; /* Black*/
        overflow-y: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
      }
      
      /* The sidebar links */
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidebar a:hover {
        color: #f1f1f1;
      }
      
      /* Position and style the close button (top right corner) */
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-top: 50px;
      }
      
      /* The button used to open the sidebar */
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
      }
      
      .openbtn:hover {
        background-color: #444;
      }
      
      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
        transition: margin-top .5s; /* If you want a transition effect */
        padding: 20px;
      }
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }
      .fa, .fas{
        margin-left: 190px;
        font-size: larger;
        color: #444;
        background-color: white;
        border-radius: 50%;
        
    }

    .card-{
      background-image: url(man/km.jpg);
      margin: 20px;
      margin-bottom: 100px;
      height: 220px;
      width: 240px;
     }
    .carde{
      background-image: url(man/op.jpg);
      margin: 20px;
      margin-bottom: 100px;
      height: 220px;
      width: 240px;
        }
   
      
    .carda{
      background-image: url(man/hg.jpg);
          margin: 20px;
          margin-bottom: 100px;
          height: 220px;
          width: 240px;
     }
   
        

   .ii{
    height:50px;
        
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
   }
   .uu{
    height:50px;
        
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
   }

   

   .ll{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
   }
  
   .cardi{
    background-image: url(man/im.jpeg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
   }

   .le{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
   }
  .cardg{ 
    background-image: url(man/ou.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
    
  }
  .re{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardw{
    background-image: url(man/tf.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .we{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  #fa{
    margin-left: 10px;
    font-size: x-large;
  }
  #fe{
    font-size: x-large;
  }
  .cardy{
    background-image: url(man/hb.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .ye{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardu{
    background-image: url(man/bg.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .ue{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  #fh{
    background-color: rgb(239, 250, 246);
    margin-left: 520px;
    margin-top:  20px;
  
  }
  #hf{
    background-color: rgb(239, 250, 246);
    margin-left: 430px;
    margin-bottom:  10px;
    
  }
  .cardr{
    background-image: url(man/nh.jpeg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .cr{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center ;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardn{
    background-image: url(man/ks.jpeg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .ne{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardm{
    background-image: url(man/eg.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .mm{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardq{
    background-image: url(man/bv.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .qe{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardd{
    background-image: url(man/ee.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .dc{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardb{
    background-image: url(man/pp.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .bn{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardt{
    background-image: url(man/rr.jpg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;

  }
  .te{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cardo{
    background-image: url(man/7.jpeg);
    margin: 20px;
    margin-bottom: 100px;
    height: 220px;
    width: 240px;
  }
  .op{
    height:50px;
    width: 190px;
    margin-top:190px;
    text-align: center;
    background-color: rgb(218, 2, 2);
    padding:15px
  }
  .cole{
    
    margin-bottom:100px;
    margin-left: 60px;
  }
  .hh{
    border-radius: 50%;
  }
  .kl{
    border-radius: 50%;
    width: 289px;
    height: 200px;
  
   
  }
  .ds{
   border-radius: 50%;
   width: 289px;
   margin: 9px;
   height: 200px;
  
    


  }

  .ra{
    border-radius: 50%;
    width: 289px;
    margin: 9px;
    height: 200px;
    

    
  }
  .lzz{
    border-radius: 50%;
    width: 289px;
  margin-right: 9px;
  height: 200px;

  
  
  }
  #jaon{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 90px;
    list-style: none
  }
 #hag{
width: 100%;
 }

.card-group{
  width: 1300px;
  height: 500px;
  margin: 15px;
}
#gap{
  width: 1300px;
  height: 500px;
  margin: 15px;
}
#grap{
  width: 1300px;
  height: 500px;
  margin: 15px;
 
  
}


#fy {
  list-style: none;
 margin-left: 20px;
  font-size: larger;
  color: #dde011;
  background-color: white;
  border-radius: 50%;
}
#ft{
  list-style: none;
  margin-left: 20px;
   font-size: larger;
   color: #c9c8c8;
   
   border-radius: 50%;
}
img:hover, .card:hover{
  background-color:rgba(233, 6, 6, 0.452);
  box-sizing: 30px;
  transform: 30px;
  position: relative;
  border-radius: 70px;
}

.pagination{
  margin-left: 490px;
padding-top: 300px;
}



#cc{
  height:20px;
  width:290px;

}
#vv{
  height:90px;
  width:290px;
}
#jj{
  height:30px;
  width:290px;
}
#kk{
  margin-top:300px;
}

h6{
    text-align: center;
    color: aliceblue;
    background-color: rgb(218, 2, 2);
}

.carousel-inner{
    background:url(mo.jpg)no-repeat;
}
.btn2{
background-color: rgb(3, 3, 3);
margin-left: 700px;
margin-top: 160px;
border-radius: 30px;
height: 60px;
width: 220px;
}
#hv{
  
  margin-right: 100px;
}
#bw{
  height: 70px;
  width: 250px;
}

.as{
  width: 1400px;
  height: 300px;
  
}
#gt{
  margin-top: 90px;
}
.bnvgeF {
  flex: 1 1 0%;
  padding: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}
.iCLNbW {
  display: flex;
  box-sizing: border-box;
  padding: 20px 0px;
}
.bBVwRb {
  flex: 1 1 0%;
  margin: 15px auto 25px;
}
.vOmpc {
  border-top: 1px solid rgb(226, 229, 241);
  padding: 24px 20px;
  display: flex;
  gap: 16px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.QMAmn {
  padding-bottom: 50px;
}


.QMAmn {
  padding-bottom: 50px;
}
.FJFOd {
  border-top: 1px solid rgb(226, 229, 241);
  flex-flow: column wrap;
  background-color: white;
}


.iCLNbW {
  display: flex;
  box-sizing: border-box;
  padding: 20px 0px;
}
.bBVwRb {
  flex: 1 1 0%;
  margin: 15px auto 25px;
}
.gpvhWM {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}
.bBkeFE {
  background-color: rgb(254, 0, 0);
  position: relative;
  z-index: 60;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
@media only screen and (min-width: 992px) {
  html {
      font-size: 13px;
  }
}
body {
  min-height: 100vh;
}
body.locked {
  overflow: hidden;
}
strong, b {
  font-weight: bold;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
*:focus {
  outline: none;
}
img {
  max-width: 100%;
  display: block;
}
input, button, textarea, select {
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 0;
}
input, textarea, select {
  border: 1px solid #e4f7db;
  font-size: 16px;
}
@media only screen and (min-width: 992px) {
  input, textarea, select {
      font-size: 1rem;
  }
}
input ::-ms-clear {
  display: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
input ::-ms-clear {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/* Proxima Nova (English) */
@font-face {
  font-family: "Proxima Nova";
  src: url("https://f.nooncdn.com/s/app/com/common/fonts/Proxima-Nova-300.eot?#iefix");
  src: url("https://f.nooncdn.com/s/app/com/common/fonts/Proxima-Nova-300.eot?#iefix") format("eot"), url("https://f.nooncdn.com/s/app/com/common/fonts/Proxima-Nova-300.woff2") format("woff2"), url("https://f.nooncdn.com/s/app/com/common/fonts/Proxima-Nova-300.woff") format("woff"), url("https://f.nooncdn.com/s/app/com/common/fonts/Proxima-Nova-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Regular.eot?#iefix");
  src: url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Regular.eot?#iefix") format("eot"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Regular.woff2") format("woff2"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Regular.woff") format("woff"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Semibold.eot?#iefix");
  src: url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Semibold.eot?#iefix") format("eot"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Semibold.woff2") format("woff2"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Semibold.woff") format("woff"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Bold.eot?#iefix");
  src: url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Bold.eot?#iefix") format("eot"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Bold.woff2") format("woff2"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Bold.woff") format("woff"), url("https://f.nooncdn.com/s/app/com/common/fonts/proxima-v2/Proxima-Nova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v2/KHiPzIiPko_Fw3pWntR2CoDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+E0FF, U+EFFD, U+F000, U+FB50-FDFF, U+FE80-FEFC;
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  src: local('Cairo SemiBold'), local('Cairo-SemiBold'), url(https://fonts.gstatic.com/s/cairo/v2/MI6TrIXLGD9aHguHYHeGURkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+E0FF, U+EFFD, U+F000, U+FB50-FDFF, U+FE80-FEFC;
}

html, body {
  line-height: 1.4;
  color: #404553;
  font-size: 14px;
  background-color: #f0eaea;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 375px;
}
input, textarea, select {
  border: 1px solid #e61b1b;
  font-size: 16px;
}
body {
  font-family: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif !important;
  min-height: 100vh;
}

html[dir=rtl] body {
  font-family: Cairo, Tahoma, sans-serif !important;
}
.cqLBOY {
  display: flex;
  flex-direction: column;
  background: rgb(226, 24, 24);
  border-top: 1px solid rgb(226, 229, 241);
}
.FJFOd {
  border-top: 1px solid rgb(226, 229, 241);
  flex-flow: column wrap;
  background-color: white;
}
.siteWidthContainer {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 768px;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .siteWidthContainer {
      padding: 0 25px;
      min-width: 768px;
      max-width: 1440px;
  }
}
@media only screen and (min-width: 992px) {
  .siteWidthContainer {
      padding: 0 45px;
  }
}

strong, b {
  font-weight: bold;
}
.fcvUlh {
  flex: 1 1 0%;
  place-content: center space-around;
}

.fcvUlh {
  flex: 1 1 0%;
  place-content: center space-around;
}
.kNOXwo {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(15, 15, 15);
  margin-bottom: 8px;
}

* {
  -webkit-tap-highlight-color: rgba(240, 16, 16, 0);
  -webkit-tap-highlight-color: transparent;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
.bltMDC {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.vOmpc {
  border-top: 1px solid rgb(19, 18, 18);
  padding: 24px 20px;
  display: flex;
  gap: 16px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.iCLNbW {
  /* display: flex; */
  box-sizing: border-box;
}
.QMAmn {
  padding-bottom: 50px;
}
.hjDlqp {
  position: fixed;
  inset: 0px;
  display: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.5);
  z-index: 999;
}
  